.arrow {
  padding: 12px;
  display: flex;
  justify-content: center;
  background-color: $mainColor;
  border: 2px solid $secondaryColor;
  font-size: 0;
  transition: background-color 0.3s ease;

  svg {
    transition: all 0.3s ease;
    fill: $secondaryColor;
  }

  &:hover,
  &:focus {
    border-color: $thirdColor;
    background-color: $thirdColor;

    svg {
      fill: #595959;
    }
  }

  &--project {
    width: 46px;
    height: 34px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.34);

    svg {
      fill: rgba(255, 255, 255, 0.34);
    }
  }

  @media (max-width: $mobileWidth) {
    width: 50px;
    height: 30px;
    padding: 10px;
  }
}
