.features__list {
  @include list-reset;
  @include space-between;
  align-items: baseline;

  @media (max-width: $tabletWidth) {
    padding-top: 50px;
  }

  @media (max-width: $tabletWidth) {
    width: 99%;
    margin: 0 auto;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $mobileWidth) {
    padding-top: 43px;
  }
}

.features__desc {
  @include text-reset;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);

  @media (max-width: $tabletWidth) {
    font-size: 12px;
    line-height: 16px;
    color: #67585c;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  width: 20%;

  @media (min-width: 1920px) {
    width: 17%;
  }

  @media (max-width: $tabletWidth) {
    width: 31%;
    padding: 25px 10px;
    padding-bottom: 35px;
    box-shadow: $shadowItem;

    &--active {
      width: 38%;
      padding: 0 15px;
      padding-top: 47px;
      padding-bottom: 42px;
      box-shadow: $shadowItemActive;
    }

    &--active .features__desc {
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }

    &--active .features__icon {
      width: 89px;
      height: 59px;
      margin-bottom: 12px;
      fill: #000000;
    }
  }

  @media (max-width: $mobileWidth) {
    display: none;
    width: 100%;
    padding: 42px 20px;
    box-shadow: none;
    border: 1px solid #dddddd;

    &--active {
      display: flex;
    }
  }
}

.features__icon {
  margin: 0 auto;
  margin-bottom: 29px;
  fill: rgba(255, 255, 255, 0.6);

  @media (max-width: $tabletWidth) {
    margin-bottom: 6px;
    fill: #b2b2b2;
  }
}

.features__toggles {
  @media (max-width: $tabletWidth) {
    width: 5%;
    max-width: 140px;
    margin: 0 auto;
  }

  @media (max-width: $mobileWidth) {
    width: 11%;
  }
}
