.logotype[href] {
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    border-color: $thirdColor;
  }
}

.logotype__img {
  display: block;

  @media (max-width: $tabletWidth) {
    width: 86px;
    height: 37px;
  }
}
