.page-header {
  padding: 19px 0;
  background-color: #fbfbfb;

  @media (max-width: $tabletWidth) {
    position: relative;
    padding-top: 8px;
    padding-bottom: 6px;
  }

  @media (max-width: $mobileWidth) {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

.page-header__wrap {
  @include space-between;
  align-items: center;
  width: 48.8%;

  @media (max-width: $tabletWidth) {
    justify-content: flex-start;
    width: 24.4%;
  }

  @media (max-width: $mobileWidth) {
    width: 100%;
  }
}

.page-header__container {
  @include space-between;

  @media (max-width: $tabletWidth) {
    padding: 0 42px;
  }

  @media (max-width: $mobileWidth) {
    padding: 0;
  }
}

.page-header__logo {
  display: block;
  margin-right: 30px;

  @media (max-width: $tabletWidth) {
    width: auto;
    height: auto;
    margin-right: 38px;
  }

  @media (max-width: $mobileWidth) {
    margin: 0;
  }
}

.page-header__nav {
  width: 64.9%;

  @media (max-width: $tabletWidth) {
    width: 32px;
    height: 22px;
  }

  @media (max-width: $mobileWidth) {
    width: 18px;
    height: 14px;
  }
}

.page-header__connection {
  width: 31.7%;

  @media (max-width: $tabletWidth) {
    width: auto;
  }
}
