@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text-reset {
  margin: 0;
  padding: 0;
}

@mixin space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
