$roboto: "Roboto", "Arial", sans-serif;
$circe: "Circe", "Arial", sans-serif;
$proximaNova: "ProximaNova", "Arial", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$mainColor: #ffffff;
$secondaryColor: #000000;
$thirdColor: #00ffd7;
$tabletWidth: 1199px;
$mobileWidth: 767px;
